<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="cseEntities1" connectionString="metadata=res://*/ShopDataModel.csdl|res://*/ShopDataModel.ssdl|res://*/ShopDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql6.gear.host;initial catalog=cse;persist security info=True;user id=cse;password=Pr9O8fdOvG_!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cseEntities" connectionString="metadata=res://*/ProductDataModel.csdl|res://*/ProductDataModel.ssdl|res://*/ProductDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql6.gear.host;initial catalog=cse;persist security info=True;user id=cse;password=Pr9O8fdOvG_!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cseEntities2" connectionString="metadata=res://*/HistoryDataModel.csdl|res://*/HistoryDataModel.ssdl|res://*/HistoryDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql6.gear.host;initial catalog=cse;persist security info=True;user id=cse;password=Pr9O8fdOvG_!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cseEntities3" connectionString="metadata=res://*/ReceiptDataModel.csdl|res://*/ReceiptDataModel.ssdl|res://*/ReceiptDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql6.gear.host;initial catalog=cse;persist security info=True;user id=cse;password=Pr9O8fdOvG_!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>